 <div class="title-container">
<%= form_with scope: :projects, url: projects_path, local: true do |form| %>
</div>

  <div class="form-group">
    <%= form.label :scope %>
    <%= form.text_field :scope, class: "form-control" %>
  </div>

  <div class="control-group"> 
            <%= form.label :status, class: "control-label" %>
      <div class="controls">
            <%= form.select(:status, options_for_select([['Open','OPEN'],['Pending','PENDING']]), {inclide_blank: true }) %>
      </div>
  </div>

  <div class="form-group">
    <%= form.label :closure %>
    <%= form.date_select :closure %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
