<%= form_with scope: :projects, url: projects_path, local: true do |form| %>



  <div class="field">
    <%= form.label :scope %>
    <%= form.text_field :scope %>
  </div>

  <div class="field"> 
    <%= form.label :status %>
    <%= form.select(:status, raw('
      <option value="Open">Open</option>
      <option value="Closed">Closed</option>
      <option value="Awarded">Awarded</option>')) %>

  </div>

  <div class="field">
    <%= form.label :closure %>
    <%= form.date_select :closure %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
