<p id="notice"><%= notice %></p>

<table>
  <thead>
    <h1>Projects Index</h1>
  </thead>

  </table>

  <%= link_to 'New Project', new_project_path, class:"btn btn-success" %>
  <p></p>

<div class=section>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
          <h4>Scope</h4><td><%= project.scope %></td>
          <h4>Status</h4><td><%= project.status %></td>
          <h4>Closure Date</h4><td><%= project.closure %></td>
          <h4>Project Description</h4><td><%= project.description %></td>

          <p>
            <%= link_to 'Show', project, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_project_path(project), class: "btn btn-primary" %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </p>
        </div>
        </div>
      </div>
      </tr>
    <% end %>
  </tbody>
</div>

<br>


