<p id="notice"><%= notice %></p>

<table>
  <div class="title-container">
    <thead>
      <h1> Projects Listing </h1>
    
    </thead>
  </div>
</table>
<div class="bids_section">
  <tbody>
    <% @projects_vendors.each do |projects_vendor| %>
      <tr>
        <div class="card w-75">
          <div class="card-body">
            <h4>Project</h4><td><%= projects_vendor.project.scope %></td>
            <h4>Vendor</h4><td><%= projects_vendor.vendor.name %></td>
            <h4>Project Description</h4><td><%= projects_vendor.project.description %></td>

            <p>
                <%= link_to 'Show', projects_vendor, class: "btn btn-primary" %>
                <%= link_to 'Edit', edit_projects_vendor_path(projects_vendor),class: "btn btn-primary" %>
                <%= link_to 'Destroy', projects_vendor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</div>


<br>

<%= link_to 'Make a Bid', new_projects_vendor_path %>
