<p id="notice"><%= notice %></p>

  <div class="title-container">
      <h1> Projects Biddings </h1>
  </div>
<%= link_to 'Make a Bid', new_projects_vendor_path, class: "btn btn-success" %>
<div class="bids_section">

    <% @projects_vendors.each do |projects_vendor| %>
  
        <div class="thumbnail">
          <div class="caption">
            <h4>Project</h4><%= projects_vendor.project.scope %>
            <h4>Bid Submitted By: </h4><%= projects_vendor.vendor.name %>
            <h4>Status</h4><%= projects_vendor.project.status %>
            <h4>Project Description</h4><%= projects_vendor.project.description %>

            <p>
                <%= link_to 'Show', projects_vendor, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
    
    <% end %>

</div>


<br>


