<p id="notice"><%= notice %></p>



<p>
  <strong>Project:</strong>
  <%= @projects_vendors.projects.scope %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @projects_vendors.vendors.name %>
</p>

<%= link_to 'Edit', edit_projects_vendor_path(@projects_vendor) %> |
<%= link_to 'Back', projects_vendors_path %>
