<p id="notice"><%= notice %></p>

<%= form_with scope: :projects_vendors, url: projects_vendor_path, local: true do |form| %>
<h2> View Specific Bid </h2>

	<p>
	  <strong>Bidprice: $</strong>
	  <%= @projects_vendors.bidPrice %>
	</p>

	<p>
	  <strong>Project:</strong>
	  <%= @projects_vendors.project.scope %>
	</p>

	<p>
	  <strong>Submitted by Vendor:</strong>
	  <%= @projects_vendors.vendor.name %>
	</p>



<% end %>



<%= link_to 'Edit', edit_projects_vendor_path(@projects_vendor) %> |
<%= link_to 'Back', projects_vendors_path %>
