<!DOCTYPE html>
<html>
  <head>
    <title>Contract</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <header class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <%= link_to "Contracts Bidding", root_path, class: "navbar-brand" %>
              </div>
 
 
              <ul class="nav navbar-nav navbar-right">
   
                    <li><%= link_to "View Projects", projects_path %></li>
                    <li><%= link_to "View Vendors", vendors_path %></li>
                    <li><%= link_to "Submit Bid", projects_vendors_path %></li>

              </ul>
            </div>
        </nav>
      </header>
    <%= yield %>
    <section class="container">

    </section>
  </body>
</html>
