<!DOCTYPE html>
<html>
  <head>
    <title>Contract</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

      <header class="container">
        <nav class="navbar navbar-default">
          
            <div class="container-fluid">
 <svg width="50px" height="50px" viewBox="0 0 141 141" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <circle id="path-1" cx="70.5" cy="70.5" r="70.5"></circle>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="3" transform="translate(-832.000000, -682.000000)">
            <rect fill="#fff" x="0" y="0" width="1440" height="1024"></rect>
            <g id="Group-11" transform="translate(832.000000, 682.000000)">
              <!--契約-->
                <g id="contract" class="crotate">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <use id="Mask" fill="#F8FAFD" xlink:href="#path-1"></use>
                    <path d="M111.135106,141 L30.8648944,141 C28.1779587,141 26,138.730082 26,135.930206 L26,37.0697939 C26,34.2696899 28.1779587,32 30.8648944,32 L111.135106,32 C113.822041,32 116,34.2696899 116,37.0697939 L116,135.930206 C116,138.730082 113.822041,141 111.135106,141 L111.135106,141 Z" id="Shape" fill="#1890FF" opacity="0.100000001" mask="url(#mask-2)"></path>
                    <path d="M37,45.8233289 C37,44.8165561 37.8182183,44.0002184 38.8273105,44.0002184 L63.1908673,44.0002184 C64.1999595,44.0002184 65.0181778,44.8165561 65.0181778,45.8233289 C65.0181778,46.8301017 64.1999595,47.6464394 63.1908673,47.6464394 L38.8273105,47.6464394 C37.8182183,47.646221 37,46.8301017 37,45.8233289 L37,45.8233289 Z M70.2564826,47.646221 L70.5001094,47.646221 C71.5092016,47.646221 72.32742,46.8298833 72.32742,45.8231105 C72.32742,44.8163377 71.5092016,44 70.5001094,44 L70.2564826,44 C69.2473904,44 68.4291721,44.8163377 68.4291721,45.8231105 C68.4291721,46.8298833 69.2473904,47.646221 70.2564826,47.646221 L70.2564826,47.646221 Z M70.5001094,109.630887 L70.2564826,109.630887 C69.2473904,109.630887 68.4291721,110.447225 68.4291721,111.453997 C68.4291721,112.46077 69.2473904,113.277108 70.2564826,113.277108 L70.5001094,113.277108 C71.5092016,113.277108 72.32742,112.46077 72.32742,111.453997 C72.32742,110.447006 71.5092016,109.630887 70.5001094,109.630887 L70.5001094,109.630887 Z M63.1910862,109.630887 L38.8273105,109.630887 C37.8182183,109.630887 37,110.447225 37,111.453997 C37,112.46077 37.8182183,113.277108 38.8273105,113.277108 L63.1908673,113.277108 C64.1999595,113.277108 65.0181778,112.46077 65.0181778,111.453997 C65.0181778,110.447006 64.2001784,109.630887 63.1910862,109.630887 L63.1910862,109.630887 Z M53.4455759,119.353779 L38.8273105,119.353779 C37.8182183,119.353779 37,120.170117 37,121.176889 C37,122.183662 37.8182183,123 38.8273105,123 L53.4455759,123 C54.4546681,123 55.2728865,122.183662 55.2728865,121.176889 C55.2728865,120.170117 54.4546681,119.353779 53.4455759,119.353779 L53.4455759,119.353779 Z M102.172689,58.5846658 L38.8273105,58.5846658 C37.8182183,58.5846658 37,59.4010035 37,60.4077763 C37,61.4145491 37.8182183,62.2308868 38.8273105,62.2308868 L102.172689,62.2308868 C103.181782,62.2308868 104,61.4145491 104,60.4077763 C104,59.4010035 103.182001,58.5846658 102.172689,58.5846658 L102.172689,58.5846658 Z M77.8091327,68.3077763 L38.8273105,68.3077763 C37.8182183,68.3077763 37,69.124114 37,70.1308868 C37,71.1376596 37.8182183,71.9539973 38.8273105,71.9539973 L77.8091327,71.9539973 C78.8182249,71.9539973 79.6364432,71.1376596 79.6364432,70.1308868 C79.6364432,69.124114 78.8182249,68.3077763 77.8091327,68.3077763 L77.8091327,68.3077763 Z M65.6273543,96.2615553 L41.2637975,96.2615553 C38.9128973,96.2615553 37.0002189,94.3532731 37.0002189,92.0077763 L37.0002189,84.7155526 C37.0002189,82.3700558 38.9131162,80.4617736 41.2637975,80.4617736 L65.6273543,80.4617736 C67.9782545,80.4617736 69.890933,82.3700558 69.890933,84.7155526 L69.890933,92.0077763 C69.890933,94.3532731 67.9782545,96.2615553 65.6273543,96.2615553 L65.6273543,96.2615553 Z M66.2365308,84.7155526 C66.2365308,84.380544 65.9631347,84.1077763 65.6273543,84.1077763 L41.2637975,84.1077763 C40.9280172,84.1077763 40.6546211,84.380544 40.6546211,84.7155526 L40.6546211,92.0077763 C40.6546211,92.3427849 40.9280172,92.6155526 41.2637975,92.6155526 L65.6273543,92.6155526 C65.9631347,92.6155526 66.2365308,92.3427849 66.2365308,92.0077763 L66.2365308,84.7155526 L66.2365308,84.7155526 Z" id="Shape" fill="#3FA9F5" mask="url(#mask-2)"></path>
                </g>
              <!--火箭開始-->
<g class="crocket">                <g id="rocket" transform="translate(87.000000, 83.000000)">
                    <circle id="Oval-2" fill="#F46C52" opacity="0.400000006" cx="27" cy="27" r="27"></circle>
                    <circle id="Oval-2" fill="#F46C52" cx="27" cy="27" r="21"></circle>
                    <g transform="translate(16.500000, 16.476562)" fill="#FFFFFF" fill-rule="nonzero" id="Shape">
                        <path d="M20.85,0.78046875 L20.7304688,0.2765625 L20.2265625,0.1546875 C19.9382812,0.084375 19.415625,0.00234375 18.5484375,0.00234375 C16.9078125,0.00234375 14.8476562,0.30234375 13.0429687,0.80390625 C12.0539062,1.078125 11.1703125,1.4015625 10.4179687,1.76484375 C9.63984375,2.13984375 9.0046875,2.5640625 8.578125,2.990625 C8.1890625,3.3796875 7.68046875,4.15078125 7.0640625,5.2828125 C6.92109375,5.5453125 6.7734375,5.8265625 6.62109375,6.1265625 C5.371875,6.4828125 3.8859375,7.36171875 3.2578125,7.7578125 C1.8328125,8.65078125 0.67734375,9.5859375 0.17109375,10.25625 C0.01171875,10.4671875 -0.03984375,10.7414063 0.0328125,10.996875 C0.10546875,11.2523437 0.29296875,11.4585938 0.54140625,11.5523438 C0.6984375,11.6132813 0.86953125,11.6765625 1.05,11.746875 C1.8703125,12.0585937 2.8734375,12.4359375 3.6515625,12.8179688 L3.64921875,12.8226563 L8.16328125,17.3414063 C8.5453125,18.121875 8.92734375,19.1320313 9.24140625,19.959375 C9.309375,20.1398438 9.375,20.3109375 9.4359375,20.4679688 C9.53203125,20.7164063 9.7359375,20.9039063 9.99140625,20.9765625 C10.06875,20.9976563 10.1460938,21.009375 10.2234375,21.009375 C10.4039062,21.009375 10.584375,20.9507813 10.7320312,20.8382813 C11.4023438,20.3320313 12.3375,19.1765625 13.2304687,17.7515625 C13.6242187,17.1210938 14.503125,15.6398438 14.8640625,14.3882813 C15.16875,14.2335938 15.4570312,14.0835938 15.7242188,13.9382813 C16.8632812,13.3195313 17.634375,12.8085938 18.01875,12.4195313 C19.1203125,11.3179688 20.0953125,8.953125 20.6296875,6.09375 C20.8617188,4.846875 20.9929687,3.57890625 20.9976563,2.52421875 C21.0046875,1.6265625 20.9226562,1.08046875 20.85,0.78046875 Z M5.3625,8.7796875 C4.96171875,9.67265625 4.59609375,10.5304688 4.29375,11.2523438 C3.6984375,10.9664063 3.01875,10.6945313 2.37890625,10.4460938 C2.83125,10.0757813 3.43125,9.63984375 4.15546875,9.1875 C4.62890625,8.88984375 5.09765625,8.62265625 5.5359375,8.4 C5.47734375,8.52421875 5.41875,8.65078125 5.3625,8.7796875 Z M11.8007812,16.8539063 C11.3484375,17.5757813 10.9125,18.1757813 10.5421875,18.6304688 C10.2960937,17.9929688 10.021875,17.3132813 9.73828125,16.7179688 C10.4625,16.415625 11.3226562,16.0476563 12.225,15.6421875 C12.346875,15.5859375 12.46875,15.5320313 12.5882812,15.478125 C12.3632812,15.9140625 12.0960937,16.3804688 11.8007812,16.8539063 Z M19.3125,2.5125 C19.3078125,3.47109375 19.1882812,4.63125 18.9726562,5.78203125 C18.7382812,7.03359375 18.4054687,8.2125 18.0070312,9.196875 C17.6367187,10.1132812 17.2171875,10.8351562 16.8257812,11.2242187 L16.8210937,11.2289062 C16.7273437,11.325 16.3101562,11.6953125 14.9179687,12.4523438 C14.0085937,12.9445313 12.8695312,13.5 11.5289062,14.1046875 C10.4226562,14.6015625 9.37734375,15.0421875 8.58046875,15.3726562 L5.63671875,12.4195312 C5.96484375,11.6203125 6.4078125,10.5726563 6.90234375,9.47109375 C7.509375,8.1234375 8.06484375,6.984375 8.55234375,6.084375 C9.3046875,4.7015625 9.6796875,4.27734375 9.77578125,4.18125 C10.0640625,3.89296875 10.5539062,3.57421875 11.15625,3.28359375 C11.8171875,2.96484375 12.6046875,2.6765625 13.4976562,2.43046875 C15.1640625,1.9640625 17.053125,1.6875 18.5507812,1.6875 C18.853125,1.6875 19.0945312,1.69921875 19.2867187,1.715625 C19.303125,1.921875 19.3148437,2.184375 19.3125,2.5125 Z M2.840625,16.1203125 C1.92421875,16.1203125 1.15078125,16.7273437 0.9,17.5640625 L0.01875,20.475 C0.00703125,20.5125 0,20.5523437 0,20.5921875 C0,20.8171875 0.18046875,21 0.40546875,21 C0.44765625,21 0.48515625,20.9929687 0.52265625,20.98125 L3.42890625,20.0976562 C4.2609375,19.8445312 4.86796875,19.06875 4.86796875,18.1523437 C4.86796875,17.0296875 3.9609375,16.1203125 2.840625,16.1203125 Z"></path>
                        <path d="M12.4391858,8.56073077 C12.8181297,8.93966156 13.3704456,9.08764383 13.8880813,8.94893408 C14.405717,8.81022434 14.8100313,8.4058959 14.948723,7.88825537 C15.0874146,7.37061485 14.9394131,6.81830415 14.5604691,6.43937339 C14.1815251,6.0604426 13.6292092,5.91246033 13.1115735,6.05117007 C12.5939378,6.18987981 12.1896235,6.59420826 12.0509318,7.11184878 C11.9122402,7.62948931 12.0602417,8.1818 12.4391858,8.56073077 Z"></path>
                </g></g>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
              <div class="navbar-header">
                <%= link_to "Contracts Bidding", projects_path, class: "navbar-brand" %>
              </div>
                
 
              <ul class="nav navbar-nav navbar-right">
   
                    <li><%= link_to "View Projects", projects_path %></li>
                    <li><%= link_to "View Vendors", vendors_path %></li>
                    <li><%= link_to "Submit Bid", projects_vendors_path %></li>

              </ul>
            </div>
        </nav>
      </header>
  
    <section class="container">
        <div id="flash">
          <% flash.each do |key,value| %>
            <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
          <% end %>
        </div>
          <%= yield %>
    </section>
  </body>
</html>
