<!DOCTYPE html>
<html>
  <head>
    <title>Contract</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-justified">
  <a class="navbar-brand" href="#">Contract Bidding Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li><%= link_to "View Projects", projects_path %></li>
      <li><%= link_to "View Vendors", vendors_path %></li>
      <li><%= link_to "Submit Bid", projects_vendors_path %></li>

    </ul>
  </div>
</nav>
      </header>
    <%= yield %>
  </body>
</html>
